@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Special+Elite&display=swap');


/* 
    HEADER SECTION 
*/
*,
*::before,
*::after{
    margin: 0px;
    box-sizing:border-box;
}

body{
    height: 100%;
    position: relative;
}

.app-header{
    padding-top: 35px;
    padding-bottom: 100px;
    text-align: center;
    height: 120px;
    text-shadow:darkgrey 2px 1.5px;
}

.heading{
    font-size: 3rem;
}


/* 
    MIDDLE SECTION     
*/

.container{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.sidebar{
    width: 450px;
    align-self: flex-start;
    margin-right: 20px;
}

.list-item-container{
    display: flex;
}

.list-item{
    display: flex;
    border-radius: 4px;
    margin: 10px;
    max-height: 60px;
    box-shadow: 4px 4px 1px #F9F3EE;
}

.list-item:hover{
    background-color: #EFEAD8;
    cursor: pointer;
    transition: 0.7s;
    box-shadow: 2px 2px 10px darkgray;
}

.img-icon-container{
    height: 60px;
    width: 60px;
    flex-shrink: 0;
    margin-right: 10px;
}

.img-icon{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.img-descr-container{
    display: flex;
    align-items: center;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    
}

.img-descr{
    display: inline-block;
    font-size: 1.2rem;
    max-height: 60px;
    white-space: nowrap !important;
    
}

.image-bar{
    width: 450px;
    height: 690px;
    flex-shrink: 0;
}

.display-image{
    height: 600px;
    width: 450px;
    box-shadow: 10px 10px 5px #F9F3EE;
}

.displayed-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.editable-caption{
    width: 450px;
    margin-top: 15px;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.displayed-caption{
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    font-size: 1.1rem;
    text-align: center;
    outline: none;
    width: 100%;
    min-height: 10px;
}



.highlight{
    background-color: #30C5FF !important;
} 


/* 
    Greet message 
*/

.greet-toon{
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.greet-toon:hover{
    transform: scale(1.1);
    box-shadow: 6px 6px 5px darkgrey;
    cursor: pointer;
}


.greet-message{
    visibility: hidden;
}

.greet-message-display{
    visibility: visible;
    font-family: 'Special Elite', cursive;
    font-size: 1.5rem;
    position: absolute;
    left: 100px;
    bottom: 30px;
}



/*
    RESPONSIVE DESIGN
*/

@media only screen and (max-width:900px){
    .heading{
        font-size: 2.1rem;
    }

    .container{
        flex-wrap: wrap;
    }

    .sidebar{
        width: 450px;
        margin-bottom: 25px;
    }

    .img-descr-container{
        width: 395px;
    }


    .image-bar{
        width: 450px;
        justify-self: center;
    }

    .display-image{
        width: 450px;

    }

    .editable-caption{
        width: 450px;
    }

    .greet-toon{
        height: 45px;
        width: 45px;
    }

    .greet-message-display{
        bottom: 12px;
        left:70px;
        font-size: 1.1rem;
    }

}



@media only screen and (max-width:600px){
    .heading{
        font-size: 1.9rem;
    }

    .container{
        flex-wrap: wrap;
    }

    .sidebar{
        width: 400px;
    }

    .image-bar{
        width: 400px;
        justify-self: center;
    }

    .img-descr-container{
        width: 330px;
    }

    .display-image{
        width: 400px;
    }


    .greet-toon{
        height: 30px;
        width: 30px;
    }

    .greet-message-display{
        bottom: 12px;
        left:50px;
        font-size: 1rem;
    }

}