@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Special+Elite&display=swap');

/*TODO: remove redundant classes, styles*/

/* 
    HEADER SECTION 
*/
*,
*::before,
*::after{
    margin: 0px;
    box-sizing:border-box;
}

.app-header{
    text-align: center;
    font-family: 'Comic Neue', cursive;
    height: 120px;
    text-shadow:darkgrey 2px 3px;
}

.heading{
    font-size: 3rem;
}



/* 
    MIDDLE SECTION     
*/

.container{
    /*TODO:*/
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.sidebar{
    /*TODO: height*/
    width: 300px;
    height: 690px;
}

.list-item-container{
    display: flex;
}

.list-item{
    display: flex;
    /*TODO: remove*/
    justify-content: flex-start;
    border-radius: 5px;
    margin: 10px;
    /*TODO: fix*/
    box-shadow: 7px 7px 4px #F9F3EE;
}

.list-item:hover{
    background-color: #EFEAD8;
    cursor: pointer;
    transition: 0.7s;
    /*TODO: fix*/
    box-shadow: 7px 7px 4px darkgray;
}

.img-icon-container{
    /*TODO: fix*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    flex-shrink: 0;
    margin-right: 10px;
}

.img-icon{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    object-fit: cover;
}

.img-descr-container{
    display: flex;
    align-items: center;
    /*TODO: fix width*/
    width: 230px;
    /* overflow:hidden; */
}

.img-descr{
    display: inline-block;
    /* max-width: 95%; */
    font-size: 1.2rem;
    font-weight:500;
    /* overflow: hidden; */
    white-space: nowrap;
    
}

.image-bar{
    width: 450px;
    height: 690px;
    flex-shrink: 0;
}

.display-image{
    height: 600px;
    width: 450px;
    box-shadow: 10px 10px 5px #F9F3EE;
}

.displayed-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: 9px;
    border-radius: 10px;
}

.editable-caption{
    width: 450px;
    margin-top: 12px;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.displayed-caption{
    align-items: center;
    margin-top: 3px;
    outline: none;
    min-width: 150px;
    min-height: 40px;
    max-height: 90px;
    font-size: 1.5rem;
    font-weight: 800;
}

.highlight{
    background-color: #30C5FF;
} 


/* 
    Greet message 
    FIXME: absolute position
*/
 

.greet-toon{
    position: relative;
    left: 10px;
    bottom: 10px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.greet-toon:hover{
    transform: scale(1.1);
    box-shadow: 6px 6px 5px darkgrey;
    cursor: pointer;
}

.greet-message{
    visibility: hidden;
    position: relative;
    left: 90px;
    bottom: 30px;
}

.greet-message-display{
    font-family: 'Special Elite', cursive;
    font-size: 1.5rem;
    visibility: visible;
    position: relative;
    left: 50px;
    bottom: 30px;
}



/*
    RESPONSIVE DESIGN
*/

@media only screen and (max-width:750px){
    .heading{
        font-size: 2.1rem;
    }

    .container{
        flex-wrap: wrap;
    }


    .sidebar{
        width: 450px;
        height: 450px;
    }


    .img-descr-container{
        width: 395px;
    }

    .img-descr{
        /* width: 95%; */
        font-size: 1rem;
    }

    .image-bar{
        width: 450px;
        justify-self: center;
    }

    .display-image{
        width: 450px;

    }

    .editable-caption{
        width: 450px;
    }

    .displayed-caption{
        font-size: 1.2rem;
    }

    .greet-toon{
        height: 45px;
        width: 45px;
    }

    .greet-message-display{
        font-size: 1.1rem;
    }


}



@media only screen and (max-width:600px){
    .heading{
        font-size: 1.9rem;
    }

    .container{
        flex-wrap: wrap;
    }

    .sidebar{
        width: 400px;
        height: 450px;
    }

    .image-bar{
        width: 400px;
        justify-self: center;
    }

    .img-descr-container{
        width: 330px;
    }

    .img-descr{
        /* width: 95%; */
        font-size: 0.85rem;
    }

    .display-image{
        width: 400px;
    }

    .displayed-caption{
        font-size: 1rem;
    }

    .greet-toon{
        height: 35px;
        width: 35px;
    }
    .greet-message-display{
        font-size: 0.9rem;
    }
}